@import "tailwindcss";

@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: integralFC;
  src: url(./assets/Fonts/Fontspring-DEMO-integralcf-regular.otf);
}
body{
font-family: Poppins;
font-weight: lighter;

}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.boldFont{
font-family: integralFC;
}